---
import { SITE } from "@/siteConfig";

import Introduction from "@/components/Introduction.astro";
import IconLink from "@/components/IconLink.astro";
---

<Introduction />
<ul class="flex justify-center gap-4 pt-8">
  {
    SITE.iconLinks.map((link) => {
      return <IconLink url={link.url} icon={link.icon} />;
    })
  }
</ul>
<div class="flex justify-center gap-4 pt-8">
  <a
    href="https://terrafactor.randy.gg"
    target="_blank"
    rel="noopener noreferrer"
    class="bg-lightModeIconLinkBackground dark:bg-darkModeIconLinkBackground hover:bg-lightModeIconLinkBackgroundHover dark:hover:bg-darkModeIconLinkBackgroundHover hover:ring-lightModeIconLinkOutlineHover dark:hover:ring-darkModeIconLinkOutlineHover text-lightModeIconLinkText hover:text-lightModeIconLinkTextHover dark:text-darkModeIconLinkText dark:hover:text-darkModeIconLinkTextHover rounded-full px-6 py-3 ring-2 ring-lightModeIconLinkOutline transition-colors dark:ring-darkModeIconLinkOutline font-medium"
  >
    Wishlist Terrafactor
  </a>
  <a
    href="https://ko-fi.com/bigrando420"
    target="_blank"
    rel="noopener noreferrer"
    class="bg-lightModeIconLinkBackground dark:bg-darkModeIconLinkBackground hover:bg-lightModeIconLinkBackgroundHover dark:hover:bg-darkModeIconLinkBackgroundHover hover:ring-lightModeIconLinkOutlineHover dark:hover:ring-darkModeIconLinkOutlineHover text-lightModeIconLinkText hover:text-lightModeIconLinkTextHover dark:text-darkModeIconLinkText dark:hover:text-darkModeIconLinkTextHover rounded-full px-6 py-3 ring-2 ring-lightModeIconLinkOutline transition-colors dark:ring-darkModeIconLinkOutline font-medium"
  >
    Donate
  </a>
</div>
